body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background: #2980B9;
    border-bottom: 7px solid #216A99;
}

.spacer {
    height: 10.414883885%;
}

.card {
    width: 33.3%;
    color: #000;
    transition: 0.15s;
    border-color: rgba(0,0,0,.05);
}

.card:hover {
    text-decoration: none;
    border-color: transparent;
    color: #000;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.075) !important;
    transition: 0.15s;
}

.card:active {
    box-shadow: none !important;
    box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,.075) !important;
    transition: 0.15s;
}
